
.current-path {
    display: flex;

    border-bottom: 1px solid var(--border-current-path);

    font-family: var(--font-YS-Text);
    
    &__content {
        flex: 1;

        padding: 12px 0;
    }

    &__item {
        position: relative;

        margin-right: 20px;

        font-size: 14px;
        line-height: 18px;
        font-weight: bold;

        box-sizing: border-box;
        border-radius: 2px;

        &:after {
            content: '/';

            position: absolute;
            right: 7px;
            top: 0;
        }

        &:last-child {

            &:after {
                content: '';
            }
        }

        &:hover {
            border-bottom: 2px solid var(--text-red);
        }

    }

    &__text {
        padding: 12px 0 12px 0;

        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        color: var(--text-black);
    }

    &__previous {
        color: var(--text-dark-gray);
    }

    &__divider {
        margin: 0 10px 0 10px;
        color: var(--text-dark-gray);
    }

}