
.list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 181px;
    height: 54px;

    border-bottom: 3px solid var(--text-light-gray);
    border-radius: 4px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

    font-family: var(--font-YS-Text);

    cursor: pointer;

    &:hover {
        border-color: var(--border-violet);
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 12px 0 24px;
    }

    &__text {
        overflow: hidden;

        font-size: 18px;
        line-height: 20px;
        color: var(--text-black);
        text-overflow: ellipsis;
    }
}